.list-item-divider {
  width: 100%;
  border: 1px solid;
  background: whitesmoke;
}

.pass-item-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80px;
  justify-content: space-evenly;
}

.pass-item-container__pass {
  display: flex;
  justify-content: space-between;
}
