<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="/tabs/tab1">

      </ion-back-button>
    </ion-buttons>

    <ion-title>{{ list.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list>
    <ion-item color="dark">
      <ion-label position="floating">Nuevo ítem</ion-label>
      <ion-input type="text" [(ngModel)]="inputItemName" (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>

    <!-- <swiper class="animated fadeInDown" *ngFor="let item of list.items"> -->
      <!-- ion-item -->
    <ion-item-sliding class="animated fadeInDown" *ngFor="let item of list.items; let i = index">
      <!-- <ng-template swiperSlide> -->
      <!-- <ion-slide> -->

        <ion-item color="dark">
          <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.done" (ionChange)="checkboxChanged(item)">
          </ion-checkbox>
          <ion-label> {{ item.desc }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="deleteItem(i)" color="danger">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <!-- </ng-template> -->
      <!-- </ion-slide> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>